.item {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  align-items: flex-start;
  border-bottom: 1px solid #2007F2;
  width: 100%;
  padding-bottom: 10px;
}

.item:last-child {
  border-bottom: none;
}

.snippet {
  margin-left: 20px;
  width: 100%;
}

.title {
  margin-bottom: 10px;
}

.channel-title {
  margin-bottom: 10px;
  color: #9805E6;
  font-size: medium;
}

.description {
  font-size: small;
}

.favorites {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: row;
}
