<ng-container *ngIf="isShowFavorites; else favoriteTmp">
  <top-panel>
    <a (click)="hideFavorites()" [ngClass]="{ disabled: loading | async }"><i class="fas fa-eye-slash"></i> hide favorites</a>
  </top-panel>

  <top-videos-list [items]="items" (onRemoveFromFavorites)="removeFromFavorites($event)"></top-videos-list>
</ng-container>

<ng-template #favoriteTmp>
  <top-panel>
    Search &nbsp;
    <top-query (onSearch)="search($event)" (onClear)="clearSearch()"></top-query>
    &nbsp;or&nbsp;
    <a (click)="showFavorites()" [ngClass]="{ disabled: loading | async }"><i class="fas fa-eye"></i> show favorites</a>
  </top-panel>
  <ng-content></ng-content>
</ng-template>
