.action {
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;

  background: -webkit-gradient(linear, right top, left top, from(#D9078C), to(#C006CF));
  background: linear-gradient(to left, #D9078C, #C006CF);

  color: #fff;
}

.action.disabled {
  background: #04638F;
}
